# ========================================
# Google Cloud Configuration
# ========================================
PROJECT_ID=your-gcp-project-id

# Recommended: asia-southeast1 for SEA workloads
REGION=asia-southeast1

# ========================================
# Storage Buckets
# ========================================
BRONZE_BUCKET=your-project-bronze-raw-json-data
SILVER_BUCKET=your-project-silver-processed-data

# ========================================
# API Keys
# ========================================
# Get it from: https://www.goldapi.io
GOLD_API_KEY=

# Get it from: https://exchange-rateapi.com
EXCHANGE_API_KEY=